In [82]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [83]:

# File to Load 
school_data_csv = Path("schools_complete.csv")
student_data_csv = Path("students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

In [84]:
# merge the school and student data
school_data_complete = pd.merge(school_data_df, student_data_df, on="school_name", how="left")

school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [85]:
## District Summary

In [86]:
# calculate the total number of unique schools
school_count = school_data_df["school_name"].count()
school_count

15

In [87]:
# calculate the total number of students
student_count = student_data_df["student_name"].count()
student_count

39170

In [88]:
# calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [89]:
# calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [90]:
# calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [91]:
# student % who passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [92]:
# student % who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [93]:
# calculate % who passed math and reading
passing_math_reading_count = student_data_df[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [94]:
#  create a DataFrame that summarizes key metrics about each school.
district_summary = pd.DataFrame({"Total Schools": school_count, "Total Students": student_count, "Total Budget": total_budget,
                                "Average Math Score": average_math_score, "Average Reading Score,": average_reading_score, 
                                "Percent Passing Math": passing_math_percentage, "Percent Passing Reading": passing_reading_percentage,
                                 "Overall Percent Passing": overall_passing_rate}, index =[0])
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,"Average Reading Score,",Percent Passing Math,Percent Passing Reading,Overall Percent Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [95]:
## School Summary

In [96]:
# group schools by name
group_by_name = school_data_complete.groupby(["school_name"])
group_by_name.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [122]:
# Use the code provided toselect all of the school types
school_types = school_data_complete["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [123]:
# total students per school
total_students_per = group_by_name["Student ID"].count()
total_students_per.head(15)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [124]:
# Calculate the total school budget and per capita spending per school
per_school_budget = group_by_name["budget"].mean()
per_capita_spend = per_school_budget/total_students_per

print(per_school_budget)
print(per_capita_spend)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [125]:
# Calculate the average math scores per school
per_school_math = group_by_name["math_score"].mean() 
print(per_school_math)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [126]:
# average reading scores per school
per_school_reading = group_by_name["reading_score"].mean()
print(per_school_reading)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [130]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = group_by_name.loc[group_by_name["math_score">=70]]
students_passing_math

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'