In [50]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [51]:

# File to Load 
school_data_csv = Path("schools_complete.csv")
student_data_csv = Path("students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)


school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [52]:
# store students in panda df and view dataset
student_data_df = pd.read_csv(student_data_csv)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [53]:
## District Summary

In [54]:
# calculate the total number of unique schools
school_count = school_data_df["school_name"].count()
school_count

15

In [55]:
# calculate the total number of students
student_count = student_data_df["student_name"].count()
student_count

39170

In [56]:
# calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [57]:
# calculate the average math score
average_math_score = student_data_df["math_score"].mean()
average_math_score

78.98537145774827

In [58]:
# calculate the average reading score
average_reading_score = student_data_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [59]:
# student % who passed math
passing_math_count = student_data_df[(student_data_df["math_score"]>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [60]:
# student % who passed reading
passing_reading_count = student_data_df[(student_data_df["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [61]:
# calculate % who passed math and reading
passing_math_reading_count = student_data_df[
    (student_data_df["math_score"] >= 70) & (student_data_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [62]:
## School Summary

In [67]:
# Use the code provided to select all of the school types
school_data_df["type"].unique()

array(['District', 'Charter'], dtype=object)