# PyCitySchools

- You are the new Chief Data Scientist for your city's school district.
In this capacity, you'll be helping the school board and mayor make strategic 
decisions regarding future school budgets and priorities.

- As a first task, you've been asked to analyze the district-wide standardized 
test results. You'll be given access to every student's math and reading scores,
as well as various information on the schools they attend. Your task is to 
aggregate the data to showcase obvious trends in school performance.

# Main PyCitySchools Analysis

There are quite a few striking results gleaned from the data, in particular the fact that the amount spent per capita
on education does not actually lead to an increase in the overall passing grades for students in Math and English
In fact, schools spending less than $585 per student had significantly higher test scores thank those schools spending
more.

It is also obvious that smaller and medium size school students have a higher passing rates than students in schools of 
 more than 2000 pupils. Lastly, charter schools vastly outperform district schools in all areas, sometimes by up to 25% higher 
 grades although all of the district schools were considered large (had at least 2000 pupils). Wilson High School (a large school)
 still managed an overall passing rate of 95% while having a student body of almost 2300 children.

In [33]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [34]:

# File to Load 
school_data_csv = Path("schools_complete.csv")
student_data_csv = Path("students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

In [35]:
# merge the school and student data
school_data_complete = pd.merge(school_data_df, student_data_df, on="school_name", how="left")

school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

# District Summary

### Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.

### Include the following:

* Total number of unique schools

* Total students

* Total budget

* Average math score

* Average reading score

* percent passing math (the percentage of students who passed math)

* percent passing reading (the percentage of students who passed reading)

* percent overall passing (the percentage of students who passed math AND reading)

In [36]:
# calculate the total number of unique schools
school_count = school_data_df["school_name"].count()
school_count

15

In [37]:
# calculate the total number of students
student_count = student_data_df["student_name"].count()
student_count

39170

In [38]:
# calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [39]:
# calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [40]:
# calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [41]:
# student % who passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [42]:
# student % who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [43]:
# calculate % who passed math and reading
passing_math_reading_count = student_data_df[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [44]:
#  create a DataFrame that summarizes key metrics about each school.
district_summary = pd.DataFrame({"Total Schools": school_count,
                                 "Total Students": student_count, 
                                 "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                 "Average Reading Score,": average_reading_score, 
                                "Percent Passing Math": passing_math_percentage,
                                 "Percent Passing Reading": passing_reading_percentage,
                                 "Overall Percent Passing": overall_passing_rate}, index =[0])
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,"Average Reading Score,",Percent Passing Math,Percent Passing Reading,Overall Percent Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [47]:
# School Summary
## Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

## Include the following:

* School Name

* School Type

* Total students

* Total school budget

* Per student budget

* Average math score

* Average reading score

* percentage passing math (the percentage of students who passed math)

* percentage passing reading (the percentage of students who passed reading)

* percentage overall passing (the percentage of students who passed math AND reading)

SyntaxError: invalid syntax (2845140497.py, line 10)

In [32]:
# group schools by name
group_by_name = school_data_complete.groupby(["school_name"])
group_by_name.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [ ]:
# Use the code provided to select all of the school types
school_types = group_by_name["type"].first()
school_types

In [ ]:
# total students per school
per_school_counts = group_by_name["Student ID"].count()
per_school_counts.head(15)

In [ ]:
# Calculate the total school budget and per capita spending per school
per_school_budget = group_by_name["budget"].mean()
per_capita_spend = per_school_budget/per_school_counts

print(per_school_budget)
print(per_capita_spend)

In [ ]:
# Calculate the average math scores per school
per_school_math = group_by_name["math_score"].mean() 
print(per_school_math)

In [ ]:
# average reading scores per school
per_school_reading = group_by_name["reading_score"].mean()
print(per_school_reading)

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher

students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["Student ID"].count()
percent_school_students_passing_math = school_students_passing_math / per_school_counts *100

print(percent_school_students_passing_math)

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["Student ID"].count()
percent_school_students_passing_reading = school_students_passing_reading / per_school_counts *100

print(percent_school_students_passing_reading)

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

NameError: name 'school_students_passing_math' is not defined

In [ ]:
# create dataframe called per_school_summary
per_school_summary = pd.DataFrame({"School Type":school_types, "Total Students": per_school_counts,
                               "Total School Budget":per_school_budget, "Per Student Budget":per_capita_spend,
                               "Average Math Score":per_school_math,"Average Reading Score": per_school_reading,
                               "Percent Passing Math":percent_school_students_passing_math,
                               "Percent Passing Reading": percent_school_students_passing_reading, 
                               "Percent Overall Passing":overall_passing_rate})
school_spending_df = per_school_summary
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.0f}".format)

per_school_summary

In [ ]:
# Sort the schools by % Overall Passing in descending order and display the top 5 rows.

top_schools = per_school_summary.sort_values("Percent Overall Passing", ascending=False)



top_schools.head()

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Percent Overall Passing", ascending=True)
                                               


bottom_schools.head(5)

In [ ]:
# Perform the necessary calculations to create a DataFrame that lists the average math score for students
# of each grade level (9th, 10th, 11th, 12th) at each school.

# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


ninth_graders_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()



# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,
                                "10th":tenth_grader_reading_scores,
                                "11th":eleventh_grader_reading_scores,
                                "12th":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

In [ ]:
# Create a table that breaks down school performance based on average spending ranges (per student).
#Use the code provided below to create four bins with reasonable cutoff values to group school spending.

# Establish the bins 
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

pd.cut(per_school_summary["Per Student Budget"], bins, labels = labels)

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], bins, labels = labels)
school_spending_df

In [ ]:

# school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels)
# school_spending_df
school_spending_df = pd.DataFrame({"School Type":school_types, "Total Students": per_school_counts,
                               "Total School Budget":per_school_budget, "Per Student Budget":per_capita_spend,
                               "Average Math Score":per_school_math,"Average Reading Score": per_school_reading,
                               "Percent Passing Math":percent_school_students_passing_math,
                               "Percent Passing Reading": percent_school_students_passing_reading, 
                               "Percent Overall Passing":overall_passing_rate, 
                         "Spending Ranges (Per Student)":pd.cut(per_school_summary["Per Student Budget"], bins, labels = labels)
                                  }) 
school_spending_df

In [ ]:
# Use the following code to then calculate mean scores per spending range.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Overall Passing"].mean()

spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores, 
                                "Percent Passing Math": spending_passing_math, "Percent Passing Reading": spending_passing_reading,
                                "Percent Overall Passing": overall_passing_spending})
spending_summary

In [ ]:
## Scores by School Size
#Use the following code to bin the per_school_summary.
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

pd.cut(per_school_summary["Total Students"], size_bins, labels = labels)

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.


per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels = labels)
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Percent Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Percent Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Percent Overall Passing"].mean()

size_summary = pd.DataFrame({"Average Math Score": size_math_scores, "Average Reading Score": size_reading_scores, 
                                "Percent Passing Math": size_passing_math, "Percent Passing Reading": size_passing_reading,
                                 "Percent Overall Passing": size_overall_passing})
size_summary

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

# # Calculate the values for the data table
# type_summary_df = grouped_type_df.mean()
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Percent Overall Passing"].mean()

type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type, "Average Reading Score": average_reading_score_by_type, 
                                "Percent Passing Math": average_percent_passing_math_by_type, "Percent Passing Reading": average_percent_passing_reading_by_type,
                                 "Percent Overall Passing": average_percent_overall_passing_by_type})
type_summary